@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overscroll-behavior: none;
}

body {
    @apply bg-background px-5 sm:px-10 overflow-x-hidden leading-relaxed pb-24 sm:pb-0;
    counter-reset: section-counter tab-counter;
    touch-action: pan-y;
}

::selection {
    @apply text-white bg-primary;
}

::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-primary/30  rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/75
}
